body{
    background-size: cover;
}

#score{
    margin-right: 1000px;
    font-size: 30px;
    font-weight: bold;
    
}

#timer{
    font-size:30px;
    font-weight: bold;
   
}

#sketch_drawn{
    font-weight: 800;
    color:purple;
}

#sketch{
    font-style: italic;
    font-weight: bold;
}

#confidence{
    font-style:italic;
    font-weight: bold;
}

